@import "layout.scss";

body *  {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

a {
  color: #3FB0AC;
  text-decoration: none;

  transition: all 0.3s;

  &:hover, &:focus {
    color: #47DAD5;
  }
}

.hide {
  display: none !important;
}

section {
  margin: 20px 0;
  padding: 10px 15px;

  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);

  legend {
    text-align: center;
  }
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}

.alert-area {
  .error-box {
    padding: 0.5rem 1rem;

    background-color: #FCE4E4;
    border: 2px solid #FCC2C3;
    border-radius: 8px;

    color: #CC0033;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.5;
    white-space: pre-line;
  }
}
